
#baniere html{
    background: black;
    font: 1.1em sans-serif;
}
#baniere ul{
    display: table;
    width: 1200px;
    margin: 100px auto;
    padding: 0;
    margin-top: 0;

}
#baniere ul li{
    display: table-cell;
}
#baniere ul{
    /*background: linear-gradient(deepskyblue, dodgerblue);*/
    background: linear-gradient(rgb(230,208,159), black);
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3),
          0 3px 5px rgba(0, 0, 0, .2),
          0 5px 10px rgba(0, 0, 0, .2),
          0 20px 20px rgba(0, 0, 0, .15);
}
#baniere ul li a{
    display: block;
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 8px 8px 17px 8px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .4);

}
#baniere ul li:first-child a{
    border-radius: 3px 0 0 3px;
}
#baniere ul li:last-child a{
    border-radius: 0 3px 3px 0;
}
#baniere ul li a:hover,
ul li a:focus{
background: rgba(255,255,255,.2);

}
#baniere ul li a:active{
background: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.1));
box-shadow: 0 0 2px rgba(0,0,0,.3) inset;
}
#baniere ul li a:hover,
ul li a:focus{

padding: 8px 25px 17px 25px;
}
#baniere ul li a{
transition: padding .3s;
}
#baniere ul li a{
position: relative;
}
#baniere ul li a::before{
content: '';
position: absolute;
left: 50%;
bottom: 9px;
margin-left: -2px;
width: 4px;
height: 4px;
border-radius: 50%;
background: rgba(0, 0, 0, .5);
}
#baniere ul li a:hover::before,
ul li a:focus::before{
background: white;
box-shadow: 0 0 2px white,
            0 -1px 0 rgba(0, 0, 0, .4);
}
