@media all and (max-width: 700px) {
   header>h1{
     /*display: none;*/
     font-size: 50%;
   }
   footer{
     display: none;
   }
   .menu>h2{
     margin-left: 0px;
     font-size: 130%;
   }
   .menu>li{
    display: block;
   }
   #baniere{
     display: none;
   }
   img{
     display: none;
   }
   .plat, .menu{
     display: flex;
     flex-direction: column;
     text-align: left;
     margin: auto;
      }
      ul{
        padding: 5px;
        display: inline;
      }
    .menu{
      background-image: none;
    }
    .plat{
      padding-left:40px;
    }
  .form{
      width: 70%;
    }
   .index{
     display:flex;
     flex-direction: column;
     margin:auto;
     border: 0px solid #fff;
   }
   body{
     margin: 0;
   }
}
@font-face {
  font-family: "rie";
  src:url(../font/rie.ttf);
}
@font-face {
  font-family: "op";
  src:url(../font/op.ttf);
}
body{
  /*background-image: url("../img/fondIndex.jpeg");
  background-repeat: no-repeat;
  background-size: cover;*/
  background-color: #fcf7f4;
  font-family: op;
  text-align: justify;
  margin: 0;
  padding: 0;
}
header{
  text-align: center;
  font-size: 50px;
  font-family: rie;
  font-weight: lighter;
  background-image: url('../img/header2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /*border-radius: 20px;*/
  border: 0.5px solid grey;
  height: auto;
  margin: 0px;
  padding: 0px;
}
/*h1{
  background: -webkit-gradient(linear, left top, left bottom, from(grey), to(black));
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}*/
.divbias{
transform:  rotate(-10deg);
}

#logo{
  text-align: left;
}
.accueil{
  text-align: center;
  /*border: 2px black dashed;
  border-radius: 20px;*/
  width: 80%;
  margin: auto;
}
span{
  text-decoration: underline;
  font-weight: bolder;
}
#cuisine{
  border: 0.5px solid grey;
  border-radius: 20px;
}
.index{
  margin: auto;
  margin-top: 100px;
  text-align: center;
  display: flex;
  border: 2px black dashed;
  border-radius: 20px;
  width: 70%;
}
#centrer{
  text-align: center;
}
.index a{
  color: grey;
  text-decoration: none;
}
.index a:hover{
  color: blue;
  text-decoration: line-through;
}
h2{
  font-size: 30px;
  margin-left: 100px;
}
.clair{
  font-size: 20px;
  margin-left: 100px;
}
#form{
   text-align: center;
   margin-bottom: 40px;
   margin-top: 40px;
 }
 #retour{
   font-size: 25px;
 }
 .menu{
   background-image: url("../img/index.jpeg");
   background-repeat: no-repeat;
   background-position: center;
 }
 li{
   font-size: 20px;
   list-style-type: none;
 }
 .fin{
   text-align: right;
 }
 #supp a{
   color: grey;
   font-size: 15px;
   text-decoration: none;
 }
 #supp a:hover{
   color: red;
   text-decoration: overline;
 }
 #form{
   width: 50%;
   text-align: justify;
   margin-left: 50px;
 }
 input{
   height: 25px;
 }
 .plat, .menu{
   margin:auto;
   width: 55%;
   border: 2px black dashed;
   text-align: center;
   border-radius: 20px;
 }
 .plat{
   width: 70%;
   display: flex;
  margin: auto;
 }
 .entree, .plats, .dessert{
   width: 33%;
 }
footer{
  background-color: black;
  height: auto;
  padding: 50px;
  text-align: center;
}
footer a{
    color: white;
    text-decoration: none;
}
footer a:hover{
  color: blue;
  text-decoration: line-through;
}
